<div ng-controller="projectEnv">
	Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

	<table class="table table-hover">
	<thead>
	  <tr>
	    <th>Variable Name</th>
	    <th>Value</th>
	    <th>Actions</th>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="env in envs" ng-init="confirm = false">
	    <td>{{env.key}}</td>
	    <td>{{env.value}}</td>
	    <td class="col-md-2">
	      <button type="button" class="btn btn-danger" ng-click="confirm = true" ng-show="!confirm"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>

	      <!-- confirmation -->
	      <strong ng-show="confirm">Sure?</strong>
	      <button type="button" class="btn btn-default" ng-click="confirm = false" ng-show="confirm" ><i class="fa fa-check" aria-hidden="true"></i> Yes</button>
	      <button type="button" class="btn btn-default" ng-click="confirm = false" ng-show="confirm"><i class="fa fa-remove" aria-hidden="true"></i> No</button>
	    </td>
	  </tr>
	  <!--<tr>
	    <td class="col-md-6"><input type="text" capitalize ng-model="new_env_name"></input></td>
	    <td class="col-md-4"><input type="text"></input></td>
	    <td class="col-md-2">
	      <button type="button" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
	    </td>
	  </tr>-->
	</tbody>
	</table>
</div>