<div ng-controller="projectHistory">
  <!-- error indicator -->
  <div class="alert alert-danger" ng-show="error != undefined && error != ''">
    <strong>ERROR:</strong> {{error}}
  </div>

  <!-- build histroy list -->
  <div class="panel panel-default" ng-repeat="build in builds | reverse">
    <div class="panel-body" ng-class="build.status" style="padding-top: 0px; padding-bottom: 10px; padding-left: 30px;">
      <div class="row">
        <div class="col-md-6">
          <h5 class="commit">
            <i class="fa fa-check" aria-hidden="true" ng-if="build.status == 'passed'"></i>
            <i class="fa fa-remove" aria-hidden="true" ng-if="build.status == 'failed'"></i>
            <i class="fa fa-exchange" aria-hidden="true" ng-if="build.status == 'running'"></i>
            <span><a href="/project/{{project.id}}/build/{{build.id}}">{{build.commit.message}}</a></span>
          </h5>
          <h5 class="text-muted"><i class="fa fa-user-o" aria-hidden="true"></i> <span><b>Author:</b> {{build.commit.author}}</span></h5>
          <h5 class="text-muted"><i class="fa fa-circle-o-notch" aria-hidden="true"></i><span><b>Commit:</b> #{{build.commit.ref}}</span></h5>         
        </div>

        <div class="col-md-3" style="padding-top: 0px;">
          <h5 class="text-muted"><i class="fa fa-calendar" aria-hidden="true"></i><span><b>Time:</b> <span ng-bind="build.time | date:'yyyy-MM-dd HH:mm'"></span></span></h5>
          <h5 class="text-muted"><i class="fa fa-hourglass-half" aria-hidden="true"></i> <span><b>Duration:</b> <span ng-bind="build.duration | duration"></span></span></h5>
          <h5 class="text-muted"><i class="fa fa-server" aria-hidden="true"></i> <span><b>Node:</b> {{build.node}}</span></h5>
        </div>
      </div>
    </div>
  </div>
</div>
