<div ng-controller="projectEnv">
	You can use environment variables to parametrize your build. These variables are a good place to store passwords,
	hostnames or runtime settings because they are not stored in any public available repository. They are applied
	in each build container as system environment variables. Furthermore you can use call environment variables
	within the sackci UI.

	<table class="table table-hover">
	<thead>
	  <tr>
	    <th>Variable Name</th>
	    <th>Value</th>
	    <th>Actions</th>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="env in envs" ng-init="confirm = false">
	    <td>{{env.key}}</td>
	    <td>{{env.value}}</td>
	    <td class="col-md-2">
	      <button type="button" class="btn btn-danger" ng-click="confirm = true" ng-show="!confirm"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>

	      <!-- confirmation -->
	      <strong ng-show="confirm">Sure?</strong>
	      <button type="button" class="btn btn-default" ng-click="confirm = false" ng-show="confirm" ><i class="fa fa-check" aria-hidden="true"></i> Yes</button>
	      <button type="button" class="btn btn-default" ng-click="confirm = false" ng-show="confirm"><i class="fa fa-remove" aria-hidden="true"></i> No</button>
	    </td>
	  </tr>
	  <!--<tr>
	    <td class="col-md-6"><input type="text" capitalize ng-model="new_env_name"></input></td>
	    <td class="col-md-4"><input type="text"></input></td>
	    <td class="col-md-2">
	      <button type="button" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
	    </td>
	  </tr>-->
	</tbody>
	</table>
</div>