<div ng-controller="settings">
    <h2 style="margin-top: 0;">Project</h2>
    <div class="panel panel-default">
        <div class="panel-body box">
            <div class="row">
                <div class="col-md-12">
                    <strong>Project Name</strong><br />
                    The name of the project is used as a display name. You are able to rename the project at any time.<br /><br />
                </div>
            </div>
            <div class="row no-hr">
                <div class="col-md-4">
                    <div class="input-group">
                        <input class="form-control" ng-model="changeName" ng-value="project.name" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="rename()">Rename</button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <strong>Build Trigger</strong><br />
                    Starting a build can be triggered by various sources. Polling the SCM repository for changes is the most used way.
                    Manually triggering the builds from the web interface is possible at any time.<br /><br />

                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Manual Trigger
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Manual Trigger</a></li>
                            <li><a href="#">SCM Polling</a></li>
                            <li><a href="#">Webhook</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <strong>SCM Repository</strong><br />
                    Each project is linked to an "Source Code Management" respository. It contains the source files which
                    are used to build the artifacts. Besides the source files the pipeline definition is located
                    in the source repository. Please configure all necessary options for the scm repository.<br /><br />
                </div>
            </div>

            <div class="row no-hr">
                <div class="col-md-4">
                    <form>
                        <div class="form-group">
                            <label for="repo-url">Repository URL</label>
                            <input class="form-control" id="repo-url" ng-value="project.repository">
                        </div>
                        <div class="form-group">
                            <label for="repo-branch">Branch</label>
                            <select class="form-control" id="repo-branch">
                                <option>{{project.branch}}</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <h2>Status Badge</h2>
    <div class="panel panel-default">
        <div class="panel-body box">
            <!-- enable status badge -->
            <div class="row">
                <div class="col-md-12">
                    <strong>Enable status badge</strong> <input type="checkbox" ng-model="project.badge"><br />
                    The status badge is a small SVG image representing the latest build status of your project. The badge can be viewed without authentication.
                </div>
            </div>

            <!-- status badge url -->
            <div class="row">
                <div class="col-md-12">
                    <strong>Badge URL</strong><br />
                    You can use the following URL to include the status badge into your website.<br /><br />
                    <pre ng-bind="project | badgeUrl"></pre>
                </div>
            </div>
        </div>
    </div>

    <h2>Danger Zone</h2>
    <div class="panel panel-default danger">
        <div class="panel-body box">
            <div class="row">
                <div class="col-md-9">
                    <strong>Purge Build History</strong><br />
                    This action removes all builds until now from the database. Associated artifacts are deleted as well.
                </div>
                <div class="col-md-3">
                    <div class="pull-right">
                        <button type="button" ng-init="status = 'idle'"
                                class="btn {{status == 'idle' ? 'btn-danger' : ''}}"
                                ng-class="{'btn-success': status == 'success', 'btn-warning': status == 'waiting'}"
                                confirm="purge">
                            <i class="fa fa-ban" ng-show="status == 'idle'"></i>
                            <i class="fa fa-cog fa-spin" ng-show="status == 'waiting'"></i>
                            <i class="fa fa-check" ng-show="status == 'success'"></i>
                            <i class="fa fa-exclamation-triangle" ng-show="status == 'error'"></i>
                            &nbsp;
                            <span ng-show="status == 'waiting' || status == 'idle'">Purge History</span>
                            <span ng-show="status == 'error'">{{error}}</span>
                            <span ng-show="status == 'success'">Success</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-9">
                    <strong>Delete Project</strong><br />
                    Deleting a project results in removing all artifacts, builds and configuration from the database / configuration file.
                </div>
                <div class="col-md-3">
                    <div class="pull-right">
                        <button type="button" ng-init="status = 'idle'"
                                class="btn {{status == 'idle' ? 'btn-danger' : ''}}"
                                ng-class="{'btn-success': status == 'success', 'btn-warning': status == 'waiting'}"
                                confirm="delete">
                            <i class="fa fa-trash-o" ng-show="status == 'idle'"></i>
                            <i class="fa fa-cog fa-spin" ng-show="status == 'waiting'"></i>
                            <i class="fa fa-check" ng-show="status == 'success'"></i>
                            <i class="fa fa-exclamation-triangle" ng-show="status == 'error'"></i>
                            &nbsp;
                            <span ng-show="status == 'waiting' || status == 'idle'">Delete Project</span>
                            <span ng-show="status == 'error'">{{error}}</span>
                            <span ng-show="status == 'success'">Success</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-9">
                    <strong>Private Key</strong><br />
                    Your private key is used to authenticate against the source code repository or other SSH based services.
                    It is stored in <span style="font-style: italic;">/tmp/id_rsa</span> that the default SSH utilities find it right away.<br /><br />
                </div>

                <div class="col-md-3">
                    <div class="pull-right">
                        <button type="button" class="btn btn-danger margin" ng-click="viewKey = !viewKey" ng-show="project.key.length > 0">
                            <i class="fa fa-eye"></i>&nbsp;
                            <span ng-if="!viewKey">View Key</span>
                            <span ng-if="viewKey">Hide Key</span>
                        </button>

                        <button type="button" class="btn btn-danger margin" ng-show="project.key.length <= 0">
                            <i class="fa fa-plus"></i>&nbsp;<span>Add Key</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row no-hr" ng-show="project.key.length > 0">
                <div class="col-md-12">
                    <pre ng-show="viewKey">{{project.key}}</pre>
                    <pre ng-show="!viewKey">-----BEGIN RSA PRIVATE KEY-----
{{project.key.substr(32, 12)}}...
-----END RSA PRIVATE KEY-----</pre>
                </div>
            </div>

        </div>
    </div>
</div>
