<div class="build-details" ng-controller="projectBuild">

  <!-- error message -->
  <div class="alert alert-danger" ng-if="error != undefined && error != '' && errorCode != 404">
    <strong>ERROR:</strong> {{error}}
  </div>

  <!-- empty message -->
  <div class="row" style="margin-top: 100px;" ng-if="errorCode == 404">
    <div class="col-md-4 col-md-offset-4" style="text-align:center;">
      <i class="fa fa-coffee" style="font-size:100pt;"></i>
      <h3>No builds to see! Take a cup of coffee or maybe trigger a build manually?</h3>
    </div>
  </div>

  <!-- Build Details -->
  <div ng-if="error == undefined || error == ''">
    <div class="panel panel-default">
      <div class="panel-body" ng-class="build.status" style="padding-top: 0px; padding-bottom: 10px; padding-left: 30px;">
        <div class="row">
          <div class="col-md-6">
            <h5 class="commit">
              <i class="fa fa-check" ng-if="build.status == 'passed'"></i>
              <i class="fa fa-remove" ng-if="build.status == 'failed'"></i>
              <i class="fa fa-exchange" ng-if="build.status == 'running'"></i>
              <span ng-bind-html="build.commit.message | unknown"></span> (#{{build.num}})
            </h5>
            <h5 class="text-muted"><i class="fa fa-user-o" aria-hidden="true"></i> <span><b>Author:</b> <span ng-bind-html="build.commit.author | unknown"></span></span></h5>
            <h5 class="text-muted"><i class="fa fa-circle-o-notch" aria-hidden="true"></i><span><b>Commit:</b> #<span ng-bind="build.commit.ref | short" ></span></span></h5>
          </div>

          <div class="col-md-3" style="padding-top: 0px;">
            <h5 class="text-muted"><i class="fa fa-calendar" aria-hidden="true"></i><span><b>Time:</b> <span ng-bind="build.time | date:'yyyy-MM-dd HH:mm'"></span></span></h5>
            <h5 class="text-muted"><i class="fa fa-hourglass-half" aria-hidden="true"></i> <span><b>Duration:</b> <span ng-bind="build.duration | duration"></span></span></h5>
            <h5 class="text-muted"><i class="fa fa-server" aria-hidden="true"></i> <span><b>Node:</b> {{build.node}}</span></h5>
          </div>
        </div>
      </div>
    </div>

    <!-- Pipeline -->
    <div class="row pipeline">
      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading">Pipeline Status</div>
          <div class="panel-body" style="overflow: hidden;">

            <!-- empty message -->
            <div ng-if="build.stages == undefined || build.stages.length == 0">
              <h5>No pipeline defined, create one in the <a href="#!/project/{{project.id}}/pipeline">Pipeline</a> tab.</h5>
            </div>

            <!-- stage names -->
            <div class="stages" ng-if="build.stages.length">
              <div class="stage" ng-repeat="stage in build.stages">{{stage.name}}</div>
            </div>

            <!-- status of the stages -->
            <div class="layer" ng-if="build.stages.length">
              <div class="step" ng-class="stage.status" ng-repeat="stage in build.stages" ng-click="selectStage(stage)">
                <i class="fa fa-question" ng-if="stage.status == 'ignored'"></i>
                <i class="fa fa-remove" ng-if="stage.status == 'failed'"></i>
                <i class="fa fa-check" ng-if="stage.status == 'passed'"></i>
                <i class="fa fa-cog fa-spin" ng-if="stage.status == 'running'"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Actions -->
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">Actions</div>
          <div class="panel-body">
            <button type="button" class="btn btn-default btn-block"><i class="fa fa-refresh" aria-hidden="true"></i> Rerun Build</button>
            <button type="button" class="btn btn-default btn-block"><i class="fa fa-download" aria-hidden="true"></i> Get Artifacts</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Logs -->
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">Log: {{stage.name}}</div>
          <div class="panel-body log">
            <div class="empty" ng-if="!stage.log.length">No log output captured for selected step.</div>

            <div class="line" ng-repeat="log in stage.log track by $index">
              <span class="linenr">{{$index + 1}}</span>
              <span class="message" ng-bind-html="log | ansicolor"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
