<div ng-controller="projectEnv">
	You can use environment variables to parametrize your build. These variables are a good place to store passwords,
	hostnames or runtime settings because they are not stored in any public available repository. They are applied
	in each build container as system environment variables. Furthermore you can use call environment variables
	within the sackci UI.

	<table class="table table-hover">
		<thead>
			<tr>
				<th class="col-md-5">Variable Name</th>
				<th class="col-md-5">Value</th>
				<th class="col-md-2">Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="(key, value) in project.env">
				<td class="code">{{key}}</td>
				<td class="code">{{value}}</td>
				<td>
					<button type="button" class="btn btn-danger" confirm="delete">
						<i class="fa fa-trash-o"></i>&nbsp;Delete
					</button>
				</td>
			</tr>
			<tr>
				<td><input type="text" ng-show="showForm" ng-model="addName"></td>
				<td><input type="text" ng-show="showForm" ng-model="addValue"></td>
				<td>
					<button class="btn btn-success" ng-show="!showForm" ng-click="add()"><i class="fa fa-plus"></i>&nbsp;Add</button>
					<button class="btn btn-success" ng-show="showForm" ng-click="save()"><i class="fa fa-check"></i>&nbsp;Save</button>
					<button class="btn btn-default" ng-show="showForm" ng-click="cancelAdd()"><i class="fa fa-remove"></i>&nbsp;Cancel</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>